<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteWise - Login</title>

</head>

<body>
    <div class="wrapper">
        <div class="login-box">
            <h1>Login</h1>
            <form action="/login" method="post">
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" value="name@example.com"><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" value="******"><br>
                <input type="submit" value="Submit">

            </form>


        </div>
    </div>

</body>

</html>