<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteWise</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/recipe.css">
</head>

<body>
    {% include 'nav.html' %}

    <div class="recipe-page">

        <div class="recipe-detail-card">

            <h1>Title: {{ title }}</h1>

            <div class="recipe-meta">
                <p><strong>Creator:</strong> {{ creator }}</p>
                <p><strong>Time:</strong> {{ time }}</p>
            </div>

            <div class="recipe-instructions">
                <h3>Instructions</h3>
                <p>{{ instructions }}</p>
            </div>

            <div class="recipe-ingredients">
                <h3>Ingredients</h3>

                {% for ingredient, amount, unit in rows %}
                <div class="ingredient-row">
                    <span>{{ ingredient }}</span>
                    <span>{{ unit }} {{ amount }}</span>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>

    {% include 'footer.html' %}

</body>

</html>