<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteWise</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/recipe.css">
</head>

<body>
    {% include 'nav.html' %}

    <div class="filter-items">
        <select name="filter" id="filter">
            <option value="all">All</option>
            <option value="doable">Doable</option>
            <option value="vegan">Vegan</option>
        </select>
        <button onclick="updateRecipeList()">Update</button>
    </div>

    <div class="recipe-grid" id="recipeGrid">

    </div>

    {% include 'footer.html' %}

    <script src="/static/recipeOverview.js"></script>
</body>

</html>