<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteWise</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/recipe.css">
</head>

<body>
    {% include 'nav.html' %}

    <h1>Title: {{ title }}</h1><br>
    <p>Creator: {{ creator }}</p><br>
    <p>Time: {{ time }}</p><br>
    <p>Instructions: {{ instructions }}</p><br>
    <p>Ingredients: {{ ingredients }}</p><br>
    <p>Units: {{ units }}</p><br>
    <p>Amounts: {{ amounts }}</p><br>

    {% include 'footer.html' %}

</body>

</html>