<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteWise</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/recipe.css">
</head>

<body>
    {% include 'nav.html' %}

    <h1>{{ title }}</h1>
    <p>{{ creator }}</p>
    <p>{{ time }}</p>
    <p>{{ instructions }}</p>

    {% include 'footer.html' %}

    <script src="/static/recipe.js"></script>
</body>

</html>